
.header-1 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.header-2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.header-or {
    color: #00A0D2;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 250px;
    font-weight: 800;
}

.small-hr {
    width: 580px;   
    margin: 0;
}

.header-1-p2 {
    display: inline-block;
    margin-top: 10px;
}

.username-text-field {
    margin-left: 94px;
    width: 305px;
}

.password-div {
    margin-top: 20px;
}

.password-text-field {
    margin-left: 68px;
    width: 305px;
}

.chatid-div {
    margin-top: 20px;
    margin-bottom: 10px;
}

.chatid-text-field {
    margin-left: 84px;
    width: 305px;
}

.hide-div {
    margin-bottom: 30px;
}

.account-id {
    margin-left: 15px;
    margin-right: 4px;
}

.new-account-link {
    position: relative;
    top: 100px;
}

.chatid-text-field-hide {
    display: none;
}

.info-star {
    color: #00A0D2;
    font-size: 16px;
    font-weight: bold;
}

.admin-login-info {
    position: relative;
    top: 150px;
}

.admin-login-info span {
    color: #00A0D2;
    font-size: 16px;
    font-weight: bold;
}


#plugin_text_checkbox {
    margin-left: 10px;
}
